@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.2s;
  text-transform: capitalize;
  font-size: 23px;
}

$color1: #1a1a1a;
$white: #fff;
$gold: #ffb703;

.container {
  padding: 0 2%;
}
.header {
  background: $color1;
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    font-weight: 500;
    .navbar__link {
      a {
        color: $white;
        margin-right: 10px;
        &:hover {
          color: $gold;
        }
      }
    }
    .navbar__form {
      input {
        background: none;
        border: none;
        border-radius: 15px;
        margin-right: 10px;
        &:focus {
          background: $white;
        }
      }
      .btn__search {
        background: none;
        border: none;
        color: $white;
        cursor: pointer;
        &:hover {
          color: $gold;
        }
      }
    }
  }
}

.banner__slide {
  position: relative;
  height: 80vh;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .liner__gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(180deg, transparent, #1a1a1a);
    height: 20vh;
    width: 100%;
    z-index: 2;
  }
  .banner__desc {
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 3;
    .banner__tile {
      color: $white;
      margin-bottom: 30px;
      font-size: 40px;
      letter-spacing: -3px;
      font-weight: 600;
    }
    .banner__trailer a {
      background-color: $white;
      border-radius: 4px;
      font-size: 17px;
      padding: 16px 40px;
      color: $color1;
      font-weight: 500;
      display: inline-block;
      margin-right: 30px;
      i {
        font-size: 16px;
      }
    }
  }
}

.movie {
  background: $color1;
}

@media (max-width: 600px) {
  .navbar__form {
    input {
      display: none;
      &.active {
        display: inline-block;
      }
    }
  }
}
