@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.2s;
  text-transform: capitalize;
  font-size: 23px;
}

$color1: #1a1a1a;
$white: #fff;
$gold: #ffb703;

.container {
  max-width: 1400px;
  margin: 0 auto;
}
.header {
  background: $color1;
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    font-weight: 500;
    .navbar__link {
      a {
        color: $white;
        margin-right: 10px;
        &:hover {
          color: $gold;
        }
      }
    }
    .navbar__form {
      input {
        background: none;
        border: none;
        border-radius: 15px;
        margin-right: 10px;
        &:focus {
          background: $white;
        }
      }
      .btn__search {
        background: none;
        border: none;
        color: $white;
        cursor: pointer;
        &:hover {
          color: $gold;
        }
      }
    }
  }
}

.home{
  
}


@media (max-width: 600px) {
  .navbar__form {
    input {
      display: none;
      &.active {
        display: inline-block;
      }
    }
  }
}
